body{
    background-color: black;
    
    padding: 0;
    margin: 0;
    border: 0;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}



header {
    display: block;
    color: white;
    text-align: center;
}

.shellContain{
    position: relative;
    margin : 0px auto;
    background-color: black;
    color: chartreuse;
    width: 90%;
    height: 800px;
}


.userId{
    background-color: black;
    color : chartreuse;
    border: 1px solid white;
    height: 800px;
    width: 90%;
    margin: 0 auto;
}
.userId form{
    margin-left: 10px;
}

pre{
	width : 90%;
	margin : 0px auto;
    height: 80%;
    overflow: scroll;
}

.orderlist{
	width : 90%;
    margin : 0px auto;
    height: 80%;
    overflow: scroll;
}


.hide{
    display: none;
}

.show{
    display: block;
}

.shellWasInput{
    border : 1px solid white;
    height: 30%;
    margin-bottom: 10px;
}

.shellInput{
    width:100%;
    height: 3%;
    border :1px solid white;
    position: absolute;
    bottom: 0;
}

input[type=text]{
    width : 70%;
    color:chartreuse;
    border: none;
    background: none;
}
input:focus{
    outline:none;
}


.cmdResult{
	margin-bottom: 10px;
    border: 1px solid white;
    height: 64%;
}
.notice{
	margin-left : 10px;
}
footer{
	background-color : #212f2f;
	font-weight : 900;
	text-align : center;
	font-size : 2em;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    color: white;
}